<!doctype html>
<html lang="tr">
<%-include('../includes/header.ejs');%>
  <body>
<div class="container">
<div class="row justify-content-md-center">  
<div class="col-md-12">
  <h2 class="text-white"><img class="img-fluid" style="width:80px; height:80px;" src="https://cdn.glitch.com/de62ee0f-e5ce-4120-a5a6-b807b5626c52%2Fkoc.png?v=1605877796158">
Koç</h2> 
  <strong class="text-white"><i class="fa fa-calendar"></i> Tarih:<%=tarih%></strong>
  <br>
  <strong class="text-white"><i class="fa fa-male"></i> <%=motto%></strong>
  <br>
  <strong class="text-white"><i class="fa fa-cube"></i> <%=element%></strong>
<br>
  <strong class="text-white"><i class="fa fa-globe"></i> <%=gezegen%></strong>
<br>


  <br>
  <br>
  <strong class="text-white"><i class="fa fa-comment"></i>Yorum:</strong><span style="color:white;"><%=yorum%> </span>
  <br>
    </div>
      </div>
    </div>
  </body>
  <%-include('../includes/footer.ejs');%>
</html>